{% extends "ABPlatformBundle::layout.html.twig" %}

{% block title %}
Accueil - {{ parent() }}
{% endblock %}

{% block ab_platform_body %}
<p>Cette application est dédiée à la gestion des livres ainsi qu'à leur vente.<br/>
    In est donc possible de consulter les livres disponibles, la quantité, leur prix et de les commander.</p>
{% endblock %}
