{% extends 'ABPlatformBundle::layout.html.twig' %}

{% block title %}
    Connexion à votre espace - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="compte">
        <a class="btn-primary btn-lg" href="{{ path('fos_user_registration_register') }}">Nouveau client, créez votre espace client.</a><br/><br/><br/>
        <a class="btn-primary btn-lg" href="{{ path('fos_user_security_login') }}">Déja client, connectez vous à votre espace.</a>
    </div>
{% endblock %}