<ul class="nav nav-pills nav-stacked">
    {% for book in listBooks  %}
        <li>
            <a href="{{ path('ab_platform_read',{'id':book.id}) }}">{{ book.titre }}</a>
        </li>
    {% endfor %}
</ul>