{% extends 'ABPlatformBundle::layout.html.twig' %}

{% block title %}
    Paiement - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="col-md-offset-9">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            Connecté en tant que {{ app.user.username }}<br/>

            <a class="btn btn-primary col-md-offset-2" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
        {% endif %}
    </div>
    <h1>Récapitulatif de votre panier:</h1>


    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" >
        <input type="hidden" name="amount" value="_s-xclick">
        <table>
            <tr><td><input type="hidden" name="on0" value="Livres à la vente">Livres à la vente</td></tr><tr><td><select name="os0">
                        <option value="Les sirènes de Saint-Malo">Les sirènes de Saint-Malo €7,90 EUR</option>
                        <option value="Psycho Kyller">Psycho Kyller €7,30 EUR</option>
                        <option value="Une vie entre deux océans">Une vie entre deux océans €7,90 EUR</option>
                        <option value="Brûlée vive">Brûlée vive €18,90 EUR</option>
                        <option value="De coeur inconnu">De coeur inconnu €17,00 EUR</option>
                        <option value="Une autre idée du bonheur">Une autre idée du bonheur €21,50 EUR</option>
                    </select> </td></tr>
        </table>
        <input type="hidden" name="currency_code" value="EUR">
        <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIIsQYJKoZIhvcNAQcEoIIIojCCCJ4CAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAI/Rv8zNhqSMHIwOLa8WnJb3y8uZhKF3HuRw9hVzm72aKY7NNMFskqJN2m8Bodg4e8R5phyNY/589MlM1Tk2CfXwQ5f2S4M7paacXIS9fP/kQGUr2Kt6QNNBzh8qQPcpiMGsBp8v6GAB54BpxYTUGVjHXRLQGWcY/3pekHZUyfETELMAkGBSsOAwIaBQAwggItBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECJclxHs3+iYFgIICCOmoU7sxR2jgUUtArcHHEiHIBx/dRfdWrQ9byKlcznnQp9qYugTbsxm5kplsHq24TxOWKNxx4go3AS5OQ88YNHYOoPjoJLVxF+hMT4byYMYDIQ4VkI7P7Cy1CosO+vN+SqtqxGPvWHlVXx3uKTF8IisFKs3p1NM9QVGs62Lhi0x8Fg6b0xlcprmdGoZVZa/1SMAV9tgdMXtnv41AvIv5zyQjzYIWWbqlNpeU7HJX3xxMOO1d0BJC2mvcln/XRJIF6S66PLsQNX+wreuN+2X9vwrqZOYOwVAqdFO9TSjz+oIdzrL7pkVWkcRYz046TPe0vSMP4oPhHYmVQwcn9OUHRi52xFLFW5CSQTGPY/aLoulUB/7IuTL3GdXjz4qGcu+U1MEZ+2rXQQCgTo/EJ4v0AdDIUblHILJdWtx4gqiW8ytx+3zfOdoUV6bzoTflUUxbGrgxch6L2thMv/YRnewoNQigBlcfXZx9NbXYCr7G2PI0lew+7Px3/FOQ1vWDkpLKrYXCWGjsFNz6hpNvsC/VHXBzooDFl1Bm3fAw+N9vQNbe5+2dHh77aPREHtcuE/4eQc+yj07qrpietidyxYOyteErG/xOJxuIfclPvThKxXKVxKUfQbvHP6QBGGk+b3cCCsKPiEpx4pR9DlaPrPdL8qJJRbALV96jhKpAB0f69qbmJBWEc35SiJmgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNjAzMjEyMzM1MTJaMCMGCSqGSIb3DQEJBDEWBBQvlzwfopAVWitQmFJpvHturQpl4jANBgkqhkiG9w0BAQEFAASBgJMv1T+dlkh6SfPd+3pXkimgGSYP6krHvScIdIkMYAm/galCW6psxFWQjM0jOM0h0FV5m76fFgqVdKOzq0miq33gqt3ECp+CosLFbgez0IfO/AbrZpcmMd9IMWCLTrzZsAPNRCR2D9BMLx2bIU+vfWYWJkGZrATNI1PQejchWWwA-----END PKCS7-----
">
        <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
        <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
    </form>

<br/>
<a class="btn btn-danger" href="{{ path('ab_platform_read') }}">Annuler la commande</a>

{% endblock %}