{% extends "ABUserBundle::layout.html.twig" %}

{% block body %}

    {# S'il y a une erreur, on l'affiche dans un joli cadre #}
    {% if error %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}
    {% block fos_user_content %}
        <h1 class="text-center">Créez votre compte client:</h1>
        {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}

        <form action="{{ path('fos_user_security_check') }}" method="post">
            <div class="form-group col-md-offset-5">
                <label for="fos_user_registration_form_username">Votre pseudo :</label><br/>
                <input type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required />
            </div>

            <div class="form-group col-md-offset-5">
                <label for="fos_user_registration_form_email">Votre email :</label><br/>
                <input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required />
            </div>

            <div class="form-group col-md-offset-5">
                <label for="fos_user_registration_form_plainPassword_first">Votre mot de passe :</label><br/>
                <input type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]"  required />
            </div>

            <div class="form-group col-md-offset-5">
                <label for="fos_user_registration_form_plainPassword_second">Saisissez de nouveau votre mot de passe :</label><br/>
                <input type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required />
                <br />
            </div>
            <div class="form-group col-lg-offset-3">
                <input class="btn btn-primary col-md-offset-3" type="submit" value="Enregistrer" />
            </div>
        </form>

    {% endblock fos_user_content %}
{% endblock %}